extends ./layout/main.jade

block content
  include ./layout/navbar.jade
  section(id='main', class='container_12')
    img(src='./img/atom.png', id='atom')
    h1(class='grid_12') ATOMHACKS
    h4(class='grid_12') Bronx Science | May 29-30, 2015
    div(class='major-button-container', class='grid_6')
      a(id='register-button', class='major-button', href='register.html') Register
    div(class='major-button-container', class='grid_6')
      a(id='mentor-button', class='major-button', href='mentor.html') Mentor
  section(id='judges', class='container_12 white')
    h1(class='grid_12') Judges
    p Coming soon!
    - var judges = []
    //- - judges.push({'name': 'Judge 1', 'title': 'Position', 'work': 'Company', 'img': 'http://placehold.it/1000'})
    each judge in judges
      div(class='judge grid_3')
        img(src='#{judge.img}')
        h4 #{judge.name}
        span #{judge.title}, #{judge.work}
  section(id='schedule', class='container_12 green')
    h1(class='grid_12') Schedule
    p A more detailed schedule will be released closer to the hackathon. For now, here are tentative times for the beginning and end of events on Friday and Saturday.
    div(class='grid_6')
      h2 Friday, May 29
      - var friday = []
      - friday.push({'time': '3:30 PM', 'text': 'Workshops Begin'})
      - friday.push({'time': '6:00 PM', 'text': 'Workshops End'})
      table(class='scheduletable')
        each event in friday
          tr
            td #{event.time}
            td #{event.text}
    div(class='grid_6')
      h2 Saturday, May 30
      - var saturday = []
      - saturday.push({'time': '8:00 AM', 'text': 'Hackathon Begins'})
      - saturday.push({'time': '9:30 PM', 'text': 'Hackathon Ends'})
      table(class='scheduletable')
        each event in saturday
          tr
            td #{event.time}
            td #{event.text}
  section(id='sponsors', class='container_12 white')
    h1(class='grid_12') Sponsors
    div(class='grid_8 prefix_2 suffix_2')
      a(href='https://challengepost.com', target='_blank')
        img(src='./img/sponsors/challengepost.png')
    .clear
    h2 In Partnership with:
    div(class='grid_4 prefix_4 suffix_4')
      a(href='https://mlh.io', target='_blank')
        img(src='./img/sponsors/mlh.png', id='mlh-logo')
    .clear
    p Sponsors are what make AtomHacks possible. These companies back us so we can provide attendees with food, swag, hardware, and an amazing experience.
    div(id='sponsor-button-container', class='grid_12')
      a(id='sponsor-button', href='mailto:sponsor@atomhacks.org?subject=AtomHacks%20Sponsorship&body=Hey,%0D%0A%0D%0AWe are interested in sponsoring AtomHacks. Could you send us more information?') Become a Sponsor
  section(id='faq', class='container_12 green')
    h1(class='grid_12') FAQ
    - var questions = []
    - questions.push({'q': 'What is a hackathon?', 'a': 'A hackathon is an event where students of different skill levels and backgrounds come together, form teams, and create a unique software or hardware project from scratch.'})
    - questions.push({'q': 'Who can attend?', 'a': 'Because this is our first hackathon, we\'re only allowing current Bronx Science students to attend.'})
    - questions.push({'q': 'When is AtomHacks?', 'a': 'Workshops will be held on Friday, May 29, and hacking will be done on Saturday, May 30.'})
    - questions.push({'q': 'How much does it cost?', 'a': 'It\'s completely free! We will provide you with Wi-Fi, meals, and swag throughout the event.'})
    - questions.push({'q': 'Can we start working before the hackathon?', 'a': 'All code related to your hacks must be written during the hackathon, but you can start brainstorming before the event.'})
    - questions.push({'q': 'How big can teams be?', 'a': 'Teams may have no more than 5 members. Students are also welcome to work solo.'})
    - questions.push({'q': 'What can we work on?', 'a': 'Anything you want, as long as your hack doesn\'t violate the code of conduct.'})
    - questions.push({'q': 'I have another question.', 'a': 'Email info@atomhacks.org with any questions that aren\'t answered here.'})
    each question, index in questions
      if index % 3 == 0 && index != 0
        div(class='clear')
      div(class='question grid_4')
        h4 #{question.q}
        p #{question.a}
  include ./layout/footer.jade

block scripts
  link(rel='stylesheet', href='./css/home.css')
  script(src='./js/home.js')
